@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-image: url('../images/pexels-nitin-arya-1029141\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Jost', sans-serif;
    color: white;
}



#welcome-section #menu-items {
    display: none;
}

#navigation-menu {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

}

#logo {
    width: 100px;
    padding-left: 20px;
}
#menu {
    display: none;
}

#navigation-menu #main-menu-items ul {
    display: flex;
}

#navigation-menu #main-menu-items ul li {
    list-style: none;
}
#navigation-menu #main-menu-items ul li a {
    text-decoration: none;
    padding-right: 30px;
    color: white;
    font-weight: bolder;
}

#navigation-menu #main-menu-items ul li a:hover {
    color: #4FAADE;
}


#navigation-menu #main-menu-items ul li .login {
    background-color: #4FAADE;
    color: black;
    padding: 10px;
    font-weight: bolder;
    height: 80px;
    border-radius: 10px;
    margin-right: 20px;
}


#navigation-menu #main-menu-items ul li .login:hover {
    color: white;
}
#apply-color , .title {
    color: white;
}

#navigation-menu #main-menu-items ul li .register {
    background-color: rgb(217, 95, 95);
    color: black;
    padding: 10px;
    font-weight: bolder;
    height: 80px;
    border-radius: 10px;
    margin-right: 20px;
    
}
#navigation-menu #main-menu-items ul li .register:hover {
    color: white;
    
}

#menu-items {
    display: none;
}

.mission-about-section {
    display: block;
    margin-top: 100px;
    padding-left: 60px;
    padding-right: 40px;
}
hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #4FAADE;
}

.mission-about-section .mission, .mission-about-section .about {
    display: flex;
    justify-content: space-between;
}

.mission-about-section .about h1, .mission-about-section .mission h1 {
    color: #4FAADE;
    font-weight: bolder;
    font-size: 19px;

}

body {
    background-image: url('../images/pexels-nitin-arya-1029141\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Jost', sans-serif;
    color: white;
}



#welcome-section #menu-items {
    display: none;
}

#navigation-menu {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

}

#logo {
    width: 100px;
    padding-left: 20px;
}
#menu {
    display: none;
}

#navigation-menu #main-menu-items ul {
    display: flex;
}

#navigation-menu #main-menu-items ul li {
    list-style: none;
}
#navigation-menu #main-menu-items ul li a {
    text-decoration: none;
    padding-right: 30px;
    color: white;
    font-weight: bolder;
}

#navigation-menu #main-menu-items ul li a:hover {
    color: #4FAADE;
}


#navigation-menu #main-menu-items ul li .login {
    background-color: #4FAADE;
    color: black;
    padding: 10px;
    font-weight: bolder;
    height: 80px;
    border-radius: 10px;
    margin-right: 20px;
}


#navigation-menu #main-menu-items ul li .login:hover {
    color: white;
}
#apply-color , .title {
    color: white;
}

#navigation-menu #main-menu-items ul li .register {
    background-color: rgb(217, 95, 95);
    color: black;
    padding: 10px;
    font-weight: bolder;
    height: 80px;
    border-radius: 10px;
    margin-right: 20px;
    
}
#navigation-menu #main-menu-items ul li .register:hover {
    color: white;
    
}

#menu-items {
    display: none;
}

.mission-about-section {
    display: block;
    margin-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
}
hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #4FAADE;
}

.mission-about-section .mission, .mission-about-section .about {
    display: flex;
    justify-content: space-between;
}

.mission-about-section .about h1, .mission-about-section .mission h1 {
    color: #4FAADE;
    font-weight: bolder;
    font-size: 19px;

}

.mission-about-section .about p, .mission-about-section .mission p {
    font-size: 16px;
    text-align: justify;
    max-width: 800px;
}




footer .fa-solid {
    margin-left: 10px;
    cursor: pointer;
}


.fa-brands {
    margin-left: 10px;
    cursor: pointer;
} 




footer .fa-solid {
    margin-left: 10px;
    cursor: pointer;
}


.fa-brands {
    margin-left: 10px;
    cursor: pointer;
} 



footer {
     display: flex;
     justify-content: space-around;
     margin-top: 230px;
     background-color: #292727;
     color: white;
     padding-top: 20px;
     padding-bottom: 20px;
}
@media screen and (max-width: 1024px){
    body {
        background-image: url('../images/pexels-nitin-arya-1029141\ 1.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        font-family: 'Jost', sans-serif;
    }
    #logo{
        width: 120px;
        padding-left: 20px;
    }
    #menu {
        display: block;
    }
    #menu {
        color: white;
        padding-right: 40px;
    }
    #navigation-menu {
        display: flex;
        padding-top: 40px;
        justify-content: space-between;
        align-items: center;

    }

    #menu-items {
        display: none;
        background-color: #292727;
        height: 430px;
    }
    hr {
        display: none;
    }
    #menu-items li a{
        text-decoration: none;
        padding: 10px;
    }
    
    #menu-items li {
        margin-bottom: 20px;
        list-style: none;
        text-align: center;
    }

    #menu-items li a:hover {
        color: #4FAADE;
    }
    #main-menu-items {
        display: none;
    }
    #menu-items .login {
        background-color: #4FAADE;
        color: black;
        padding: 10px;
        font-weight: bolder;
        height: 80px;
        border-radius: 10px;
    }

    #menu-items .login:hover {
        color: white;
    }

    #menu-items .register {
        background-color: rgb(217, 95, 95);
        margin-top: 10px;
        font-weight: bolder;
        height: 80px;
        border-radius: 10px;
    }
    .mission-about-section {
        display: block;
        margin-bottom: 20px;
        padding-left: 60px;
        padding-right: 40px;
    }

    .mission-about-section .mission {
        display: block;
        margin-bottom: 20px;
    }

    .mission-about-section .about {
        display: block;
        margin-bottom: 20px;
    }
    .mission-about-section .about p {
        font-size: 16px;
        text-align: justify;
    }

    .mission-about-section .mission {
        font-size: 16px;
        text-align: justify;
    }
    .mission-about-section .about h1, .mission-about-section .mission h1 {
        color: #4FAADE;
        font-weight: bolder;
        font-size: 19px;
        margin-bottom: 40px;
        margin-top: 50px;
        text-align: center;
    }
    .mission-about-section .about p, .mission-about-section .mission p {
        font-size: 16px;
        text-align: justify;

    }

    

}